
.header-body{
    background: #0069d9 !important;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}

body{
    background: #f3f5ff !important;
}

.task-container{
    margin: 10px;
    height: 60vh;
    display: inline-block !important;
    width: 400px;
    padding: 10px;
}

.task-description{
    width: 100%;
}

.ticket-container{
    overflow: auto;
    display: -webkit-box !important;
    white-space: nowrap;
    overflow: auto;
    margin-top: 12px;
    display: -webkit-box;
    scroll-behavior: smooth;
    padding-bottom: 25px;
}

.add-task-btn :hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
